#root {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(#021027, #000000);
  color: #c7d5e0;
  overflow-x: hidden;
}

.starsec {
  content: " ";
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 571px 173px #00bcd4, 1732px 143px #00bcd4, 1745px 454px #ffff,
    234px 784px #00bcd4, 1793px 1123px #ffff, 1076px 504px #03a9f4,
    633px 601px #ffff, 350px 630px #ffff, 1164px 782px #00bcd4,
    76px 690px #3f51b5, 1825px 701px #75f839, 1646px 578px #ffff,
    544px 293px #2196f3, 445px 1061px #2196f3, 928px 47px #00bcd4,
    168px 1410px #75f839, 777px 782px #2196f3, 1235px 1941px #2196f3,
    104px 1690px #75f839, 1167px 1338px #ffff, 345px 1652px #009688,
    1682px 1196px #ffff, 1995px 494px #75f839, 428px 798px #ffff,
    340px 1623px #ffff, 605px 349px #2196f3, 1339px 1344px #2196f3,
    1102px 1745px #3f51b5, 1592px 1676px #2196f3, 419px 1024px #ffff,
    630px 1033px #4caf50, 1995px 1644px #00bcd4, 1092px 712px #2196f3,
    1355px 606px #ffff, 622px 1881px #75f839, 1481px 621px #9e9e9e,
    19px 1348px #75f839, 864px 1780px #ffff, 442px 1136px #2196f3,
    67px 712px #ffff, 89px 1406px #ffff, 275px 321px #009688,
    592px 630px #ffff, 1012px 1690px #2196f3, 1749px 23px #2196f3,
    94px 1542px #ffff, 1201px 1657px #3f51b5, 1505px 692px #2196f3,
    1799px 601px #03a9f4, 656px 811px #00bcd4, 701px 597px #00bcd4,
    1202px 46px #ffff, 890px 569px #ffff, 1613px 813px #2196f3,
    223px 252px #ffff, 983px 1093px #ffff, 726px 1029px #75f839,
    1764px 778px #75f839, 622px 1643px #ffff, 174px 1559px #2196f3,
    212px 517px #00bcd4, 340px 505px #fff, 1700px 39px #fff,
    1768px 516px #ffff, 849px 391px #ffff, 228px 1824px #fff,
    1119px 1680px #75f839, 812px 1480px #3f51b5, 1438px 1585px #75f839,
    137px 1397px #fff, 1080px 456px #2196f3, 1208px 1437px #03a9f4,
    857px 281px #ffff, 1254px 1306px #75f839, 987px 990px #4caf50,
    1655px 911px #00bcd4, 1102px 1216px #ffff, 1807px 1044px #fff,
    660px 435px #03a9f4, 299px 678px #4caf50, 1193px 115px #ffff,
    918px 290px #75f839, 1447px 1422px #ffff, 91px 1273px #2196f3,
    108px 223px #ffff, 146px 754px #00bcd4, 461px 1446px #ffff,
    1004px 391px #2196f3, 1529px 516px #ffff, 1206px 845px #75f839,
    347px 583px #009688, 1102px 1332px #ffff, 709px 1756px #00bcd4,
    1972px 248px #fff, 1669px 1344px #ffff, 1132px 406px #ffff,
    320px 1076px #75f839, 126px 943px #ffff, 263px 604px #ffff,
    1546px 692px #ffff;
  animation: animStar 150s linear infinite;
}

.starthird {
  content: " ";
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 571px 173px #00bcd4, 1732px 143px #00bcd4, 1745px 454px #ffff,
    234px 784px #00bcd4, 1793px 1123px #ffff, 1076px 504px #03a9f4,
    633px 601px #ffff, 350px 630px #ffff, 1164px 782px #00bcd4,
    76px 690px #3f51b5, 1825px 701px #75f839, 1646px 578px #ffff,
    544px 293px #2196f3, 445px 1061px #2196f3, 928px 47px #00bcd4,
    168px 1410px #75f839, 777px 782px #2196f3, 1235px 1941px #2196f3,
    104px 1690px #75f839, 1167px 1338px #ffff, 345px 1652px #009688,
    1682px 1196px #ffff, 1995px 494px #75f839, 428px 798px #ffff,
    340px 1623px #ffff, 605px 349px #2196f3, 1339px 1344px #2196f3,
    1102px 1745px #3f51b5, 1592px 1676px #2196f3, 419px 1024px #ffff,
    630px 1033px #4caf50, 1995px 1644px #00bcd4, 1092px 712px #2196f3,
    1355px 606px #ffff, 622px 1881px #75f839, 1481px 621px #9e9e9e,
    19px 1348px #75f839, 864px 1780px #ffff, 442px 1136px #2196f3,
    67px 712px #ffff, 89px 1406px #ffff, 275px 321px #009688,
    592px 630px #ffff, 1012px 1690px #2196f3, 1749px 23px #2196f3,
    94px 1542px #ffff, 1201px 1657px #3f51b5, 1505px 692px #2196f3,
    1799px 601px #03a9f4, 656px 811px #00bcd4, 701px 597px #00bcd4,
    1202px 46px #ffff, 890px 569px #ffff, 1613px 813px #2196f3,
    223px 252px #ffff, 983px 1093px #ffff, 726px 1029px #75f839,
    1764px 778px #75f839, 622px 1643px #ffff, 174px 1559px #2196f3,
    212px 517px #00bcd4, 340px 505px #fff, 1700px 39px #fff,
    1768px 516px #ffff, 849px 391px #ffff, 228px 1824px #fff,
    1119px 1680px #75f839, 812px 1480px #3f51b5, 1438px 1585px #75f839,
    137px 1397px #fff, 1080px 456px #2196f3, 1208px 1437px #03a9f4,
    857px 281px #ffff, 1254px 1306px #75f839, 987px 990px #4caf50,
    1655px 911px #00bcd4, 1102px 1216px #ffff, 1807px 1044px #fff,
    660px 435px #03a9f4, 299px 678px #4caf50, 1193px 115px #ffff,
    918px 290px #75f839, 1447px 1422px #ffff, 91px 1273px #2196f3,
    108px 223px #ffff, 146px 754px #00bcd4, 461px 1446px #ffff,
    1004px 391px #2196f3, 1529px 516px #ffff, 1206px 845px #75f839,
    347px 583px #009688, 1102px 1332px #ffff, 709px 1756px #00bcd4,
    1972px 248px #fff, 1669px 1344px #ffff, 1132px 406px #ffff,
    320px 1076px #75f839, 126px 943px #ffff, 263px 604px #ffff,
    1546px 692px #ffff;
  animation: animStar 10s linear infinite;
}

.starfourth {
  content: " ";
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 571px 173px #00bcd4, 1732px 143px #00bcd4, 1745px 454px #ffff,
    234px 784px #00bcd4, 1793px 1123px #ffff, 1076px 504px #03a9f4,
    633px 601px #ffff, 350px 630px #ffff, 1164px 782px #00bcd4,
    76px 690px #3f51b5, 1825px 701px #75f839, 1646px 578px #ffff,
    544px 293px #2196f3, 445px 1061px #2196f3, 928px 47px #00bcd4,
    168px 1410px #75f839, 777px 782px #2196f3, 1235px 1941px #2196f3,
    104px 1690px #75f839, 1167px 1338px #ffff, 345px 1652px #009688,
    1682px 1196px #ffff, 1995px 494px #75f839, 428px 798px #ffff,
    340px 1623px #ffff, 605px 349px #2196f3, 1339px 1344px #2196f3,
    1102px 1745px #3f51b5, 1592px 1676px #2196f3, 419px 1024px #ffff,
    630px 1033px #4caf50, 1995px 1644px #00bcd4, 1092px 712px #2196f3,
    1355px 606px #ffff, 622px 1881px #75f839, 1481px 621px #9e9e9e,
    19px 1348px #75f839, 864px 1780px #ffff, 442px 1136px #2196f3,
    67px 712px #ffff, 89px 1406px #ffff, 275px 321px #009688,
    592px 630px #ffff, 1012px 1690px #2196f3, 1749px 23px #2196f3,
    94px 1542px #ffff, 1201px 1657px #3f51b5, 1505px 692px #2196f3,
    1799px 601px #03a9f4, 656px 811px #00bcd4, 701px 597px #00bcd4,
    1202px 46px #ffff, 890px 569px #ffff, 1613px 813px #2196f3,
    223px 252px #ffff, 983px 1093px #ffff, 726px 1029px #75f839,
    1764px 778px #75f839, 622px 1643px #ffff, 174px 1559px #2196f3,
    212px 517px #00bcd4, 340px 505px #fff, 1700px 39px #fff,
    1768px 516px #ffff, 849px 391px #ffff, 228px 1824px #fff,
    1119px 1680px #75f839, 812px 1480px #3f51b5, 1438px 1585px #75f839,
    137px 1397px #fff, 1080px 456px #2196f3, 1208px 1437px #03a9f4,
    857px 281px #ffff, 1254px 1306px #75f839, 987px 990px #4caf50,
    1655px 911px #00bcd4, 1102px 1216px #ffff, 1807px 1044px #fff,
    660px 435px #03a9f4, 299px 678px #4caf50, 1193px 115px #ffff,
    918px 290px #75f839, 1447px 1422px #ffff, 91px 1273px #2196f3,
    108px 223px #ffff, 146px 754px #00bcd4, 461px 1446px #ffff,
    1004px 391px #2196f3, 1529px 516px #ffff, 1206px 845px #75f839,
    347px 583px #009688, 1102px 1332px #ffff, 709px 1756px #00bcd4,
    1972px 248px #fff, 1669px 1344px #ffff, 1132px 406px #ffff,
    320px 1076px #75f839, 126px 943px #ffff, 263px 604px #ffff,
    1546px 692px #ffff;
  animation: animStar 50s linear infinite;
}

.starfifth {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 571px 173px #00bcd4, 1732px 143px #00bcd4, 1745px 454px #ffff,
    234px 784px #00bcd4, 1793px 1123px #ffff, 1076px 504px #03a9f4,
    633px 601px #ffff, 350px 630px #ffff, 1164px 782px #00bcd4,
    76px 690px #3f51b5, 1825px 701px #75f839, 1646px 578px #ffff,
    544px 293px #2196f3, 445px 1061px #2196f3, 928px 47px #00bcd4,
    168px 1410px #75f839, 777px 782px #2196f3, 1235px 1941px #2196f3,
    104px 1690px #75f839, 1167px 1338px #ffff, 345px 1652px #009688,
    1682px 1196px #ffff, 1995px 494px #75f839, 428px 798px #ffff,
    340px 1623px #ffff, 605px 349px #2196f3, 1339px 1344px #2196f3,
    1102px 1745px #3f51b5, 1592px 1676px #2196f3, 419px 1024px #ffff,
    630px 1033px #4caf50, 1995px 1644px #00bcd4, 1092px 712px #2196f3,
    1355px 606px #ffff, 622px 1881px #75f839, 1481px 621px #9e9e9e,
    19px 1348px #75f839, 864px 1780px #ffff, 442px 1136px #2196f3,
    67px 712px #ffff, 89px 1406px #ffff, 275px 321px #009688,
    592px 630px #ffff, 1012px 1690px #2196f3, 1749px 23px #2196f3,
    94px 1542px #ffff, 1201px 1657px #3f51b5, 1505px 692px #2196f3,
    1799px 601px #03a9f4, 656px 811px #00bcd4, 701px 597px #00bcd4,
    1202px 46px #ffff, 890px 569px #ffff, 1613px 813px #2196f3,
    223px 252px #ffff, 983px 1093px #ffff, 726px 1029px #75f839,
    1764px 778px #75f839, 622px 1643px #ffff, 174px 1559px #2196f3,
    212px 517px #00bcd4, 340px 505px #fff, 1700px 39px #fff,
    1768px 516px #ffff, 849px 391px #ffff, 228px 1824px #fff,
    1119px 1680px #75f839, 812px 1480px #3f51b5, 1438px 1585px #75f839,
    137px 1397px #fff, 1080px 456px #2196f3, 1208px 1437px #03a9f4,
    857px 281px #ffff, 1254px 1306px #75f839, 987px 990px #4caf50,
    1655px 911px #00bcd4, 1102px 1216px #ffff, 1807px 1044px #fff,
    660px 435px #03a9f4, 299px 678px #4caf50, 1193px 115px #ffff,
    918px 290px #75f839, 1447px 1422px #ffff, 91px 1273px #2196f3,
    108px 223px #ffff, 146px 754px #00bcd4, 461px 1446px #ffff,
    1004px 391px #2196f3, 1529px 516px #ffff, 1206px 845px #75f839,
    347px 583px #009688, 1102px 1332px #ffff, 709px 1756px #00bcd4,
    1972px 248px #fff, 1669px 1344px #ffff, 1132px 406px #ffff,
    320px 1076px #75f839, 126px 943px #ffff, 263px 604px #ffff,
    1546px 692px #ffff;
  animation: animStar 80s linear infinite;
}

@keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2000px);
  }
}
